<launch>

    <include file="/home/burger/catkin_ws/src/turtlebot3/turtlebot3_bringup/launch/turtlebot3_robot.launch" />
    <include file="/home/burger/catkin_ws/src/turtlebot3/turtlebot3_bringup/launch/turtlebot3_remote.launch" />
    <include file="/home/burger/catkin_ws/src/raspicam_node/launch/camerav2_410x308_10fps.launch" />

    <node name="classify_object" pkg="team_mazumdar_final_project" type="classify_object.py" />
    <node name="wall_dist" pkg="team_mazumdar_final_project" type="wall_dist.py" />
    <node name="navigate" pkg="team_mazumdar_final_project" type="navigate.py" />
    <node name="detect_object" pkg="team_mazumdar_final_project" type="detect_object.py" />
    <!---->

</launch>